@import "settings";
@import "foundation";

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

html, body {
  height: 100vh;
  width: 100vw;
  // margin: 0;
  // padding: 0;
}

.item:nth-child(1) {
  background-image: url('http://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/divinity-ori-sin.jpg');
}

.item:nth-child(2) {
  background-image: url("http://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/re7-chris-large.jpg");
}

.item:nth-child(3) {
  background-image: url("http://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/bioshock-large.jpg");
}

.item:nth-child(4) {
  background-image: url("http://s3-us-west-2.amazonaws.com/s.cdpn.io/53819/dishonored-large.jpg");
}

.item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-body {
  // margin-top: -60px;
  // margin-bottom: -60px;

  &.grid-frame {
    overflow: visible;
  }
}

.item-head,
.item-foot {
  z-index: 10;
  min-height: 200px;
}

.item-head {
  margin-bottom: -60px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 60px), 0 calc(100% - 0px));
}

.item-foot {
  margin-top: -60px;
  clip-path: polygon(0 20px, 50% 0, 100% 40px, 100% 100%, 0 100%);
}
